<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Confirm Order </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>

    <div>

        <header>
            <!--Navigation Bar-->
            <nav class="navbar navbar-expand-lg p-3 bg-body-tertiary">
                <div class="container-fluid">
                    <img src="/images/logoImage.jpg" class="m-2" width="40" height="40">
                    <span>
                        J.C. Bose University Of Science and Technology,YMCA, Faridabad
                    </span>
                    <ul class="navbar-nav me-auto my-2 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    </ul>
                </div>
            </nav>
        </header>


        <!--- Login Box -->
        <div id="content" class="flex">
            <div class="page-content page-container " id="page-content">
                <div class="p-4">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-5">
                            <div class="card ">
                                <div class="card-header">Confirm your Order</div>
                                <div class="card-body">
                                    <form method="POST" action="/confirmOrder">
                                        <input type="email" name="email" placeholder="Enter your email" required>
                                        <button type="submit">Confirm Order</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js "></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js "
            integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT "
            crossorigin="anonymous "></script>

</body>
</html>